h1 {color: red;}
p  i {color: red;}
b { color: red;}
h2 {color: red;}
ul li li  {color: red;}
u {color: blue;}
article table tr td:first-of-type {color: black;}
article table tr td {color:red}
