.heading_decoration{
    /*Inner Shadow*/
    -moz-box-shadow:    inset  0 0 50px  rgb(238, 238, 178);
    -webkit-box-shadow: inset  0 0 50px  rgb(209, 199, 199);
    box-shadow:         inset  0 0 50px  rgb(230, 223, 223);  

    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:0.2em;font-size:1em;background-color:wheat;
    
    font-family: sans-serif;
    letter-spacing: 0.1em;
    border-style: groove;
    
}
.body_back{
    background-image: url(/lesson1/myTrys/images/White\ wall\,\ yellow\ lamp\,\ minimal\,\ decoration\,\ 950x1534\ wallpaper.jfif);

    background-size: cover; /*fullImage*/
    background-color: rgb(230, 241, 230);
    font-style: italic;
}
